aiohttp==3.9.1
aiosignal==1.3.1
alpha-vantage==2.3.1
anyio==4.1.0
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
Django==4.2.8
exceptiongroup==1.2.0
executing==2.0.1
fonttools==4.46.0
frozenlist==1.4.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
importlib-resources==6.1.1
jedi==0.19.1
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mplfinance==0.12.10b0
multidict==6.0.4
numpy==1.26.2
packaging==23.2
pandas==2.1.4
parso==0.8.3
Pillow==10.1.0
polygon==1.1.3
polygon-api-client==1.13.3
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.14.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.18
wcwidth==0.2.12
websocket-client==1.7.0
websockets==12.0
yarl==1.9.4
zipp==3.17.0
