{% load static %}

<style>
  .sidebar {
    height: 100%;

  }
</style>

<aside class="main-sidebar" style="background-color: #962A5A;">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'images/tws9Vp6.jpg' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p> {{ request.user }} </p>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->

    <!-- Sidebar Menu -->
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="{% url 'dashboard' %}">
            <span><i class="fa fa-tachometer" aria-hidden="true"></i><span>
                <span>Dashboard</span>
          </a>
        </li>



        <li>
          <a href="{% url 'logout' %}">
            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
            <span class="item">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Sidebar Menu -->


  </section>
  <!-- /.sidebar -->
</aside>