{% extends 'root.html' %}
{% load static %}
{% block content %}
  <!-- Main content -->
  <style>
    .content {
      padding: 10px;
    }

    .row{
      margin: 0px;
    }

    .card-title{
      font-weight: bold;
    }

  </style>

  <section class="container-fluid content">

    <div class="row">
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Stocks of Customers</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Stocks of Competitors</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Demographic Data</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">News</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Exchango Rate CHF/EUR | CHF/USD</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Latest Development (New Patients)</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">GDP Core Markets</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Trending Sicknesses</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card section-card">
          <div class="card-body">
            <h4 class="card-title">Vaccinations</h4>
            <p class="card-text">This is the content of section 1</p>
          </div>
        </div>
      </div>

    </div>


  </section>
{% endblock %}

<!-- New Block -->

{% block script %}
  <script>
    $(document).on('click', '.print', function (e) {
      $('.fa-eye').hide()
      e.preventDefault()
      $('.mystock').printThis({
        importCSS: true,
        importStyle: true,
        pageTitle: 'Stock/System Manager: {{request.user}}',
        removeInline: false,
        printContainer: true,
        removeInline: false,
        printDelay: 333,
        header: null,
        formValues: true
      })
    })
  </script>
{% endblock %}
