{% extends 'root.html' %}
{% load static %}
{% block content %}
  <!-- Main content -->
  <style>
    .content {
      padding: 20px;
    }

    .row{
      margin: 10px;
      border: 1px solid;
    }
  </style>

  <section class="content">


    <div class="row">
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
    </div>


  </section>
{% endblock %}

<!-- New Block -->

{% block script %}
  <script>
    
  </script>
{% endblock %}
